html, body{
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  overflow: hidden;
  font-size: 16px;
}
.CodeMirror pre{
  line-height: 1.2;
}
.cm-header-1 { font-size: 2em; }
.cm-header-2 { font-size: 1.75em; }
.cm-header-3 { font-size: 1.5em; }
.cm-header-4 { font-size: 1.3em; }
.cm-header-5 { font-size: 1.2em; }
.cm-header-6 { font-size: 1.15em; }

.cm-quote { color: #90a959; font-style: italic; }

a{ color: #0645ad; text-decoration:none;}
a:visited{ color: #0b0080; }
a:hover{ color: #06e; }
a:active{ color:#faa700; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }

p{margin:1em 0;}

img{max-width:100%;}

h1,h2,h3,h4,h5,h6{font-weight:normal;color:#111;line-height:1em;}
h4,h5,h6{ font-weight: bold; }
h1{ font-size:2.5em; }
h2{ font-size:2em; }
h3{ font-size:1.5em; }
h4{ font-size:1.2em; }
h5{ font-size:1em; }
h6{ font-size:0.9em; }

blockquote{color:#666666;margin:0;padding-left: 3em;border-left: 0.5em #EEE solid;}
hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }

pre, code{
  color: #000;
  font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.94em; /* 0.94 = 0.88 + (1.00 - 0.88) / 2 */
  border-radius:3px;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
}
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 5px;}
pre code { border: 0px !important; background: transparent !important; line-height: 1.3em; }
code { padding: 0 3px 0 3px; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
li p:last-child { margin:0 }
dd { margin: 0 0 0 2em; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { vertical-align: top; padding: 4px 10px; border: 1px solid #bbb; }
tr:nth-child(even) td, tr:nth-child(even) th { background: #eee; }

#app{
}
#app-header{
  /*padding-left: 75px;*/
  display: flex;
  height: 2.3333em;
  align-items: center;
  transition: 0.2s background-color;
  max-width: 100%;
  -webkit-user-select: none;
  position: relative;
  outline: none;
  -webkit-app-region: drag;
  background-color: #cecccc;
  color: #fff;
}
#app-header .title{
  flex: 1;
  text-align: center;
}
#app-body{
  height: calc(100vh - 2.25em);
  position: relative;
  /*padding: 4px;*/
  background-color: #f6f6f6;
}
.tab-content{
  height: 100%;
}
#editor, #marked{
  float: left;
  width: 50%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  overflow-y: auto;
}
#marked{
  padding: 20px;
  background-color: #fff;
}
#editor{
  border-right: 1px solid #ccc;
  background-color: #f6f6f6;
}
#editor textarea{
  opacity: 0;
}
#editor .CodeMirror{
  min-height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
#tabs{
  display: flex;
  flex: 1;
  overflow: auto;
}
#tabs .tab-item{
  position: relative;
  flex: 1;
  text-align: center;
  background-color: #999;
  min-width: 125px;
  padding: 0 1em;
  font-size: 0.8em;
  line-height: 36px;
  height: 36px;
  overflow: hidden;
  word-break: break-all;
}

#tabs .tab-item.active{
  color: #999;
  background-color: #f6f6f6;
}
#tabs .tab-item .item-title{

}
#tabs .tab-item .item-close{
  position: absolute;
  display: none;
  right: 10px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  top: 9px;
  text-align: center;
  cursor: pointer;
}
#tabs .tab-item:hover .item-close{
  display: block;
}